.outer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 20px;
}

.div-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 10px;
}

.flex-box-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-row { 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin-bottom: 10px; 
  gap: 10px;
}

.myButton { 
  display: block; 
  margin-left: auto; 
}
